---
import PanZoom, { Element } from "@sasza/react-panzoom";
import { getImage } from "astro:assets";

interface Props {
  asset: string;
  alt: string;
  width: number;
  height: number;
}

const { asset, width, height, alt } = Astro.props as Props;
const image = await getImage({ src: asset });
---

<div style={{ width: "100%", height: "100%" }}>
  <PanZoom  client:load>
    <Element id="map" x={0} y={0}>
      <img src={image.src} alt={alt} width={width} height={height} />
    </Element>
  </PanZoom>
</div>
