---
import { getCollection } from "astro:content";
import { slug } from "github-slugger";

export async function getStaticPaths() {
  const blogPosts = await getCollection("blog");

  return blogPosts.map((post) => ({
    params: { slug: slug(post.data.title) },
    props: {
      title: post.data.title,
      body: post.body,
    },
  }));
}

const { title, body } = Astro.props;
---

<html>
  <head><title>{title}</title></head>

  <body>
    <h1>{title}</h1>
    <div>{body}</div>
  </body>
</html>
