---
import { Image } from 'astro:assets';
import type { ImageAttribution, ImagePrompt } from '@bastion-falls/types/Image';

const props: ImageAttribution | ImagePrompt = Astro.props;

let url;
let imageObject;
if (props.url) {
  const images = import.meta.glob<{ default: ImageMetadata }>(
    '/src/assets/**/*.{jpg,jpeg,png,webp}',
  );

  url = props.url;
  const imageItem = images[url];
  console.log(url, imageItem);
  imageObject = imageItem();
}

let title;
let attributionUrl;
if ('attribution' in props) {
  title = props.attribution;
  attributionUrl = props.attributionUrl;
} else if ('prompt' in props) {
  title = props.prompt;
  attributionUrl = props.generatorUrl;
} else {
  attributionUrl = props.url;
  title = props.alt ?? '';
}
---

{
  imageObject && (
    <div class="mb-4 w-full character-image-container bg-black">
      <Image
        src={imageObject}
        alt={props.alt ?? ''}
        class="w-full h-full max-h-48 rounded-lg object-scale-down block mx-auto"
      />
      <p class="text-xs text-gray-500 mt-1 text-center">
        <a
          href={attributionUrl ?? ''}
          target="_blank"
          rel="noopener noreferrer"
        >
          {title ?? ''}
        </a>
      </p>
    </div>
  )
}
