---
interface Props {
  name: string;
  target: string;
}

const { name, target } = Astro.props;
const url = `https://www.dndbeyond.com/spells/${target}`;
---

<a href={url} rel="noopener noreferrer" target="_blank">
  {name}
</a>
