---
interface Props {
  name: string;
}

const { name } = Astro.props;
const url = `https://www.dndbeyond.com/monsters/filter-search=${name}`;
---

<a href={url} rel="external,noopener,noreferrer" target="_blank">
  {name}
</a>
