---
import GitHubSlugger from "github-slugger";

interface Props {
  name: string;
}

const { name } = Astro.props;
const slugger = new GitHubSlugger();
const url = `https://www.dndbeyond.com/spells/${slugger.slug(name)}`;
---

<a href={url} target="_blank">
  {name}
</a>
